<!DOCTYPE html>
<html>
    <head>
        <title>Registration</title>
        <!-- CSS only -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
            crossorigin="anonymous"
        />
        <script
            src="https://code.jquery.com/jquery-3.6.1.js"
            integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
            crossorigin="anonymous"
        ></script>

        <link rel="stylesheet" href="./css/main.css" />

        <script type="text/javascript">
            $(document).ready(function () {
                $("#form1").submit(function (event) {
                    event.preventDefault();

                    $.ajax({
                        type: "POST",
                        url: "/",
                        data: $("#form1").serialize(),
                        dataType: "json",
                        success: function (response) {
                            $("#form1")[0].reset();

                            document.getElementById("check").innerHTML =
                                response.Success;
                            //ADD THIS CODE
                            setTimeout(function () {
                                document.getElementById("check").innerHTML = "";
                            }, 3000);
                            if (
                                response.Success ==
                                "You are registered,You can login now."
                            ) {
                                document.getElementById("aa").click();
                            }
                        },
                        error: function () {},
                    });
                });
            });
        </script>
    </head>
    <body>
        <h1 class="text-center mt-5 mb-5">Authentication App Group 11</h1>
        <section class="d-flex flex-row justify-content-around flex-wrap pt-5">
            <div class="left-side">
                <img
                    class="img-fluid float-left"
                    src="https://cdn-icons-png.flaticon.com/512/1791/1791961.png"
                    alt="img"
                    height="400px"
                    width="400px"
                />
            </div>
            <div class="right-side p-4">
                <div class="form-group">
                    <div>
                        <h5 class="mb-3">Register Now</h5>
                    </div>
                    <form id="form1" method="post">
                        <input
                            type="email"
                            name="email"
                            placeholder="E-mail"
                            required=""
                            class="form-control"
                        /><br />
                        <input
                            type="text"
                            name="username"
                            placeholder="Username"
                            required=""
                            class="form-control"
                        /><br />
                        <input
                            type="password"
                            name="password"
                            placeholder="Password"
                            required=""
                            class="form-control"
                        /><br />
                        <input
                            type="password"
                            name="passwordConf"
                            placeholder="Confirm Password"
                            required=""
                            class="form-control"
                        /><br />
                        <input
                            type="submit"
                            value="Register"
                            class="btn btn-success mb-3"
                        />
                    </form>
                    <div class="mssg bg-danger">
                        <span id="check"></span>
                    </div>
                    <div>
                        <span
                            >Already Registered?
                            <a href="/login">Login</a></span
                        >
                    </div>
                    <div id="LangTable"><a href="/login" id="aa"></a></div>
                </div>
            </div>
        </section>
    </body>
</html>
